{% extends "base.html" %}
{% block main %}
				<p style="margin:12px; padding:25px;" class="bg-info"><b>Now you can make the registration at the event following the next link! <a href="/registration">Registration</a></b></p>
				<p style="margin:12px; padding:25px;" class="bg-warning"><b>Also you can make the submissions of your works following the next link! <a href="/submissions/">Submissions</a></b></p>
			  <h2>Welcome to CLIA 2016</h2>
			  <br/>
			  <p>We are pleased to invite you to attend the XII Latin American and Caribbean Congress of Agricultural Engineering, CLIA 2016, the most important international event in this area.
CLIA is organized under the auspicious of the LATIN AMERICAN AND CARIBBEAN ASSOCIATION OF AGRICULTURAL ENGINEERING (ALIA), NATIONAL UNIVERSITY OF COLOMBIA, ASSOCIATION OF AGRICULTURAL ENGINEERS OF COLOMBIA, and will be held in Bogota, Colombia from 23 to 27 May 2016.</p>

<p>The themes of the conference are:</p>

<table class="table table-striped">
	<tr>
		<td><b>#</b></td>
		<td><b>Theme</b></td>
	</tr>
	<tr>
		<td>1</td>
		<td>Agricultural and agro-industrial machinery</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Water and soil engineering</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Postharvest technology and agribusiness</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Rural infrastructure and management environments</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Control and automation in biosystems</td>
	</tr>
	<tr>
		<td>6</td>
		<td>Geoinformatics</td>
	</tr>
	<tr>
		<td>7</td>
		<td>Alternative energy in agriculture</td>
	</tr>
	<tr>
		<td>8</td>
		<td>Sustainable rural development</td>
	</tr>
	<tr>
		<td>9</td>
		<td>Education in agricultural and biosystems engineering</td>
	</tr>
</table>

<p>We are looking forward to meeting you in CLIA 2016 for an unforgettable and profitable scientific and social meeting of the Agricultural Engineering community.</p>
			  <p>The Organizing Committee for CLIA 2016</p>

<br/>

{% endblock %}
