{% extends "base.html" %}
{% block main %}
			  <h2>Preconference courses</h2>
			  <br/>
			  <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Watersheed-ecosystem dynamics under changing climate and land use</div>
				  <div class="panel-body">
					  <div class="media">
						  <div class="media-left">
							<a href="#">
							  <img class="media-object img-responsive" 
							  src="http://images.itcs.uiuc.edu/portrait/mlchu.jpg" 
							  alt="Maria Chu"
							  width="180px">
							</a>
						  </div>
						  <div class="media-body">
							<h3>Maria Librada Chu, University of Illinois 
							Urbana-Champaign</h3>
							Dr. Chu-Agor’s areas of expertise include evaluation of climate 
							change effects on habitats and population of shorebirds,  
							streambank erosion processes and failure due to subsurface flow, 
							surface and groundwater hydrology studies (time series 
							analysis, subsurface flow and bank stability modeling, 
							rainfall-runoff modeling, watershed modeling, hydrological 
							assessment studies). <a 
							href="http://abe-research.illinois.edu/Faculty/MariaChu/res/cv_chu_2014.pdf">View public CV</a><br/><br/>
							<p class="btn btn-warning">English-taught course</p>
						  </div>
						</div>
				  </div>
			  </div>
			  <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Precision agriculture in the Agricultural Engineering</div>
				  <div class="panel-body">
					  <div class="media">
						  <div class="media-left">
							<a href="#">
							  <img class="media-object img-responsive" 
							  src="/static/img/molin.png" 
							  alt="Prof. Molin"
							  width="180px">
							</a>
						  </div>
						  <div class="media-body">
							<h3>José Paulo Molin, Universidade de São Paulo</h3>
							Professor Molin earned his Ph.D. degree in Agricultural Engineering from University of Nebraska (1996). He is associate professor at the University of São Paulo and leads the Brazilian Commission for Precision agriculture - CBAP, of the Ministry of Agriculture, Livestock and Supply. Acts at the interface between the area of machinery and agricultural implements and precision agriculture, especially with sensors, spatial variability, yield maps, GNSS, localized application of inputs, sowing, fertilization and harvesting. <a 
							href="http://www.leb.esalq.usp.br/molin.html">View public CV</a><br/><br/>
							<p class="btn btn-warning">Spanish-taught course</p>
						  </div>
						</div>
				  </div>
			  </div>			  
			  <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Watershed Simulation using the Agricultural Policy/Environmental eXtender (APEX) Model</div>
				  <div class="panel-body">
					  <div class="media">
						  
						  <div class="media-body">
						  	The course will teach the participants the basic knowledge about the APEX model structure, and hands on training to setup scenarios that evaluate the impacts of different nutrient management practices, tillage operations, conservation practices, alternative cropping systems, and other management practices, on surface runoff and losses of sediment, and nutrients.
							<h3>John J. Ramírez-Avila</h3>
							John J. Ramírez-Avila is an Agricultural Engineer holding a Master’s degree in Soil Sciences and a Ph D in Engineering with emphasis in Water Resources Engineering. He is an Assistant Research Professor in the Civil and Environmental Engineering Department at Mississippi State University performing investigation designed to test, validate and improve analytic tools used to predict runoff, sediment and nutrient loads from fields and watersheds. He has also researched on the determination of sediment sources focusing on streambank erosion and sediment transport monitoring and modeling at reach and watershed scales. <a 
							href="/static/John_J_Ramirez_Avila_CV.pdf">View public CV</a><br/><br/>
							<p class="btn btn-warning">Spanish-taught course</p>
						  </div>
						</div>
				  </div>
			  </div>			  
			  <p>Spectrometry in agriculture</p>
{% endblock %}
