<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLIA 2016</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/one-page-wonder.css" rel="stylesheet">

    <!-- Library CSS -->
    <link href="/static/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img width="200px" src="/static/img/logos/logo_clia2016.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Conferencia <span class="caret"></span></a>
					  <ul class="dropdown-menu" aria-labelledby="themes">
						<li><a href="/pt/pre-conference-courses">Cursos pré-congresso</a></li>
						<li><a href="/registration/">Inscrição</a></li>
						<li><a href="/submissions/">Submissão</a></li>
						<li><a href="/pt/proceedings">Anais</a></li>
					  </ul>
					</li>
                    <li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" >Programa <span class="caret"></span></a>
					  <ul class="dropdown-menu" aria-labelledby="themes">
						<li><a href="/pt/program" data-toggle="modal" data-target=".bs-example-modal-sm">Programa científico</a></li>
					  </ul>
					</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Comitês <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
						<li><a href="/pt/organizing-committee">Comissão Organizadora </a></li>
						<li><a href="/pt/scientific-committee">Comissão Científica</a></li>
					  </ul>
                    </li>
                    <li>
                        <a href="/pt/sponsors">Patrocinadores</a>
                    </li>
                    <li>
                        <a href="/pt/venue">Turismo</a>
                    </li>
                    <li>
                        <a href="/pt/contact">Contato</a>
                    </li>
                    <li class="icon-lang">
						<span class="icon-bar"><a class="icon" href="/"><img src="/static/icon/eng.ico" /></a></span>
						<span class="icon-bar"><a class="icon" href="/es"><img src="/static/icon/spain.ico" /></a></span>
						<span class="icon-bar"><a class="icon" href="/pt"><img src="/static/icon/brazil.ico" /></a></span>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h2>XII Congresso Latinoamericano e do Caribe de Engenharia Agrícola</h2>
                <h3>Bogotá, Colômbia, de 23 a 27 de maio de 2016</h3>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <br/>

        <!-- Example row of columns -->
		  <div class="row">
			<div class="col-md-2">
			  <h2>Datas Importantes <i class="fa fa-calendar"></i></h2>
				  <hr/>
				  <div class="dates">
						<div class="date">
							<h4 class="heading wow animated fadeInUp">Inscrição antecipada</h4>
							<div class="date">
								<i class="fa fa-calendar"></i> Fevereiro 15 2016
							</div><br/>
							<h4 class="heading wow animated fadeInUp">Abertura de submissão de trabalhos</h4>
							<div class="date">
								<i class="fa fa-calendar"></i> Outubro 20 2015
							</div><br/>
							<h4 class="heading wow animated fadeInUp">Prazo final de submissão</h4>
							<div class="date">
								<i class="fa fa-calendar"></i> Janeiro 20 2016
							</div><br/>
							<h4 class="heading wow animated fadeInUp">Envio carta de aceite</h4>
							<div class="date">
								<i class="fa fa-calendar"></i> Fevereiro 10 2016
							</div><br/>
							<h4 class="heading wow animated fadeInUp">Prazo envio resumo expandido</h4>
							<div class="date">
								<i class="fa fa-calendar"></i> Fevereiro 29 2016
							</div>
						</div>
					</div>

			<br/>
			<hr/>
			<h2>Social</h2>
				<br/>
				<div class="social">
					<div class="fb-like" data-href="https://www.facebook.com/Ingenieros.Agricolas" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>

					<br/><br/>

					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.clia2016.co" data-via="Ing_Agricola" data-size="large" data-hashtags="clia2016">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>

			</div>

			<div class="col-md-8">
			  {% block main %}{% endblock %}
		   </div>
			<div class="col-md-2">
			  <h2>Organizadores</h2>
			  <div class="organizers"><a href="http://aliaweb.org/"><img src="/static/img/logos/alia.png" width="120px" /></a><a href="http://www.asiac.co"><img src="/static/img/logos/asiac.png" width="120px" /></a><a href="http://www.unal.edu.co"><img src="/static/img/logos/unal_.jpg" width="100%" /></a></div>
			  <hr/>
			  <p><a class="btn btn-default" href="/pt/organizing-committee" role="button">Comité Organizador &raquo;</a></p>
			  <br/>
			  <hr/>
			  <h2>Aliados</h2>
			  <p>Veja todos os nossos aliados.</p>
			</div>
		  </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">

				<p>&copy CLIA 2016</p>
            </div>
        </footer>

    </div>
    <!-- /.container -->

	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="myModalLabel">Agradecemos a sua compreensão</h3>
		  </div>
		  <div class="modal-body">
			Agenda em construção, por favor verifique em breve!
		  </div>
		</div>
	  </div>
	</div>


    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Other libraries -->
    <script src="/static/js/jquery.form-validator.js"></script>

	<script src="/static/js/main.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>


</body>

</html>
