{% extends "pt/base_PT.html" %}
{% block main %}
			  <h2>Contato</h2>
			  <br/>
			  <p>envíe suas perguntas!</p>
			<form action="/contacto" method="POST" class="mail-form">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-6">
							<input name="name" type="text" class="form-control" placeholder="Nome" data-validation="required">
						</div>
						<div class="col-sm-6">
							<input name="email" type="text" class="form-control" placeholder="Email" data-validation="email">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<input name="subject" type="text" class="form-control" placeholder="Assunto" data-validation="required">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<textarea name="message" class="form-control" rows="10" placeholder="Mensagem. . ." data-validation="required"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12.text-left">
							<input type="submit" class="btn btn-green contact-button" value="Enviar">
						</div>
					</div>
				</div>
			</form>
{% endblock %}
