{% extends "pt/base_PT.html" %}
{% block main %}
<p style="margin:12px; padding:25px;" class="bg-info"><b>registo activado neste link! <a href="/registration">Registration</a></b></p>
<p style="margin:12px; padding:25px;" class="bg-warning"><b>Você também pode enviar seus trabalhos! <a href="/submissions/">Submissions</a></b></p>
			  <h2>Bem-vindo ao CLIA 2016</h2>
			  <br/>
			  <p>Temos o prazer de convida-lo para participar do XII Congresso Latinoamericano e do Caribe de Engenharia Agrícola, CLIA 2016, um dos eventos internacionais mais importantes nesta área. O CLIA é organizada sob os auspícios da Associação Latinoamericana e do Caribe de Engenharia Agrícola (ALIA), da Universidade Nacional da Colômbia, e da Associação Colombiana de Engenharia Agrícola. O CLIA será realizada em Bogotá-Colômbia a partir de maio 23-27 2016.</p>

<p>Temas da Conferência:</p>

<table class="table table-striped">
	<tr>
		<td><b>#</b></td>
		<td><b>Tema</b></td>
	</tr>
	<tr>
		<td>1</td>
		<td>Máquinas agrícolas e agro-industrial</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Engenharia de água e solo</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Tecnologia de pós-colheita e agronegócio</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Construções rurais e ambientais</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Controle e automação em biossistemas</td>
	</tr>
	<tr>
		<td>6</td>
		<td>Geoinformática</td>
	</tr>
	<tr>
		<td>7</td>
		<td>Energia alternativa na agricultura</td>
	</tr>
	<tr>
		<td>8</td>
		<td>Desenvolvimento rural sustentável​</td>
	</tr>
	<tr>
		<td>9</td>
		<td>Educação em engenharia agrícola e biossistemas</td>
	</tr>
</table>

<p>Aguardamos a sua presença no CLIA 2016 para uma reunião científica e social inesquecível com a comunidade de Engenharia Agrícola.</p>
			  <p>Comissão organizadora CLIA 2016</p>

<br/>

{% endblock %}
