{% extends "pt/base_PT.html" %}
{% block main %}
			  <h2>Cursos pré-congresso</h2>
			  <br/>
			  <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Watersheed-ecosystem dynamics under changing climate and land use</div>
				  <div class="panel-body">
					  <div class="media">
						  <div class="media-left">
							<a href="#">
							  <img class="media-object"
							  src="http://images.itcs.uiuc.edu/portrait/mlchu.jpg"
							  alt="Maria Chu"
							  width="180px">
							</a>
						  </div>
						  <div class="media-body">
							<h3>Maria Librada Chu, Universidad de Illinois
							Urbana-Champaign</h3>
							As áreas de especialização da Dra. Chu incluem a avaliação dos efeitos da mudança climática sobre os habitats e populações aves praieras, processos de erosão e falha devido ao fluxo subsuperficial, estudos hidrológicos agua superficial e subterrânea (análise de séries temporais e avaliação de estudio de hidrologico), alem de outros. <a href="http://abe-research.illinois.edu/Faculty/MariaChu/res/cv_chu_2014.pdf">Ver currículo</a><br/><br/>
							<p class="btn btn-warning">curso ministrado em Inglês</p>
						  </div>
						</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">A agricultura de precisão da Engenharia Agrícola</div>
				  <div class="panel-body">
					  <div class="media">
						  <div class="media-left">
							<a href="#">
							  <img class="media-object img-responsive"
							  src="/static/img/molin.png"
							  alt="Prof. Molin"
							  width="180px">
							</a>
						  </div>
						  <div class="media-body">
							<h3>José Paulo Molin, Universidade de São Paulo</h3>
							PhD em Engenharia Agrícola - University of Nebraska (1996). É Professor Associado III da Universidade de São Paulo e preside a Comissão Brasileira de Agricultura de Precisão - CBAP, do Ministério da Agricultura, Pecuária e Abastecimento. Atua na interface entre a área de Máquinas e Implementos Agrícolas e a Agricultura de Precisão, especialmente com sensores, variabilidade espacial, mapas de produtividade, GNSS, aplicação localizada de insumos, semeadura, adubação e colheita. <a
							href="http://www.leb.esalq.usp.br/molin.html">Ver currículo</a><br/><br/>
							<p class="btn btn-warning">curso ministrado em Espanhol</p>
						  </div>
						</div>
					  </div>
			  		</div>
			  		<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Simulação de Bacias Hidrográficas usando o modelo Agricultural Policy/Environmental eXtender (APEX)</div>
				  <div class="panel-body">
					  <div class="media">
						  
						  <div class="media-body">
						  	O curso vai ensinar aos participantes o conhecimento básico sobre a estrutura do modelo APEX, e vai enfatizar o treinamento de cenários de configuração para avaliar os impactos de diferentes práticas de manejo de nutrientes, as operações de cultivo, práticas de conservação, sistemas de cultivo práticas alternativas e outro de gestão, escoamento superficial e do sedimento e as perdas de nutrientes.
							<h3>John J. Ramírez-Avila</h3>

							John J. Ramirez-Avila é Engenheiro Agrícola com mestrado em Solos e PhD em Engenharia com ênfase em Engenharia de Recursos Hídricos. Ele é Research Professor Auxiliar no Departamento de Engenharia Civil e Ambiental da Universidade do Estado de Mississippi, a realização de pesquisa projetado para testar, validar e melhorar os instrumentos analíticos utilizados para prever escoamento, sedimentos e nutrientes cargas de campos e bacias hidrográficas. Ele também investigou a determinar as fontes de sedimentos enfocando a erosão Streambank e monitoramento do transporte de sedimentos e modelagem próximo à escala das bacias hidrográficas. <a 
							href="/static/John_J_Ramirez_Avila_CV.pdf">Ver currículo</a><br/><br/>
							<p class="btn btn-warning">curso ministrado em Espanhol</p>
						  </div>
						</div>
				  </div>
			  </div>
				    <p> Espectrometria na Agricultura </p>
{% endblock %}
