{% extends "pt/base_PT.html" %}
{% block main %}
			  <h2>Comissão Científica</h2>
			  <br/>
			<ul>
				<li>Alfonso Parra Coronado, Ph.D. (UNAL, Colômbia)</li>
				<li>Carolina María Sánchez Sáenz, Ph.D. (UNAL, Colômbia)</li>
				<li>Claudia Milena Amorocho Cruz, Ph. D. (USCO, Colômbia)</li>
				<li>Esteban J. Baeza Romero., Ph.D. (IFAPA, Espanha)</li>
				<li>Eugenia Gonzáles Castrillón, Ph. D. (UNAL, Colombia)</li>
				<li>Fernando Lozano Osorno, Ph.D. (UNAL, Colômbia)</li>
				<li>Guido Fernando Botta, Ph.D. (UBA-UNLu, Argentina)</li>
				<li>Iván Darío Aristizábal T., Ph.D. (UNAL, Colômbia)</li>
				<li>Jaime Salazar Contreras, M.Sc. (ASIBEI, Colômbia)</li>
				<li>Javier Giovanni Álvarez H., Ph.D. (UPTC, Colômbia)</li>
				<li>Joahnn H. Palacios R., M.Sc. (IRDA, Canadá)</li>
				<li>John Fabio Acuña C., Ph.D. (UNAL, Colômbia)</li>
				<li>John J. Ramírez Avila, Ph.D. (MSSTATE, Estados Unidos da América)</li>
				<li>José Miguel Guzmán P., Ph.D. (UAL, Espanha)</li>
				<li>José Paulo Molin, Ph.D. (ESALQ-USP, Brasil)</li>
				<li>Juan Luis Valenzuela M., Ph.D. (UAL, Espanha)</li>
				<li>Leonardo Ramírez López, Ph.D. (BUCHI Labortechnik AG, Suíça)</li>				
				<li>Marco Tulio Ospina Patiño, Ph.D. (UNICAMP, Brasil)</li>
				<li>Saúl Dussán Sarria, Ph.D. (UNAL, Colombia)</li>
				<li>Wilson Esquivel Flóres, Ph. D. (UDEC, Chile)</li>
			</ul>
{% endblock %}
