{% extends "base.html" %}
{% block main %}
			  <h2>Rules for abstracts</h2>
			  <br/>
				<p>The abstracts will be received with regard to the areas of presentation of the congress and with the following specifications::</p>
				<p>The abstracts must be submitted in Spanish, Portuguese or English.</p>
				<p>The abstracts must be no longer than 200 words.</p>
				<p>The abstracts must contain title, abstract, keywords and display area. (If you consider that their work covers more than one area please choose the influence it further).	<a href="/static/submissions/AbstractTemplateCLia.docx">download template</a>.
				<p>The abstract must be sent by the <a href="/submissions/abstracts">website application</a>.</p> <br/>

				<p>Note: the scientific committee will establish if your paper will be exposure, however for all cases poster presentation applied. The organizing committee will respond only to the email address which has been sent the papper.</p>
{% endblock %}
