{% extends "es/base_ES.html" %}
{% block main %}
<p style="margin:12px; padding:25px;" class="bg-info"><b>Ya se encuentra habilitado el registro en el siguiente link! <a href="/registration">Registration</a></b></p>
<p style="margin:12px; padding:25px;" class="bg-warning"><b>También puede hacer el envio de sus trabajos! <a href="/submissions/">Submissions</a></b></p>
			  <h2>Bienvenido al CLIA 2016</h2>
			  <br/>
			  <p>Estamos encantados de invitarlo a asistir al XII Congreso Latinoamericano y del Caribe de Ingeniería Agrícola, CLIA 2016, uno de los eventos internacionales más importantes de esta área.
CLIA es organizado bajo el auspicio de la Asociación Latinoamericana y del Caribe de Ingeniería Agrícola (ALIA), Universidad Nacional de Colombia, Asociación de Ingenieros Agrícolas de Colombia, y se llevará a cabo en la ciudad de Bogotá Colombia del 23 al 27 de Mayo de 2016.</p>

<p>Temas del congreso:</p>

<table class="table table-striped">
	<tr>
		<td><b>#</b></td>
		<td><b>Tema</b></td>
	</tr>
	<tr>
		<td>1</td>
		<td>Maquinaria agrícola y agroindustrial</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Ingeniería de agua y suelo</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Tecnología de postcosecha y agroindustria</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Infraestructura rural y manejo de ambientes</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Control y automatización en biosistemas</td>
	</tr>
	<tr>
		<td>6</td>
		<td>Geoinformática</td>
	</tr>
	<tr>
		<td>7</td>
		<td>Energías alternativas en la agricultura</td>
	</tr>
	<tr>
		<td>8</td>
		<td>Desarrollo rural sostenible</td>
	</tr>
	<tr>
		<td>9</td>
		<td>Educación en la ingeniería agrícola y de biosistemas</td>
	</tr>
</table>

<p>Esperamos contar con su presencia en el CLIA 2016 para tener una reunión científica y social inolvidable con la comunidad de la Ingeniería Agrícola.</p>
			  <p>Comité organizador CLIA 2016</p>

<br/>
{% endblock %}
