{% extends "es/base_ES.html" %}
{% block main %}
			  <h2>Cursos precongreso</h2>
			  <br/>
			  <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Dinámicas ecosistema-cuenca en escenarios de cambio climatico y de uso del suelo</div>
				  <div class="panel-body">
					  <div class="media">
						  <div class="media-left">
							<a href="#">
							  <img class="media-object" 
							  src="http://images.itcs.uiuc.edu/portrait/mlchu.jpg" 
							  alt="Maria Chu"
							  width="180px">
							</a>
						  </div>
						  <div class="media-body">
							<h3>Maria Librada Chu, Universidad de Ilinois
							Urbana-Champaign</h3>
							Las areas de experiencia de la doctora Chu incluyen evaluación de los efectos del cambio climatico en habitats y poblaciones de 
							Aves Playeras,  
							procesos de erosión y falla debido a flujo subsuperficial, 
							estudios hidrológicos de agua superficial y subterranea (analisis de series de tiempo 
							evaluación de estudios hidrológicos), entre otros. <a 
							href="http://abe-research.illinois.edu/Faculty/MariaChu/res/cv_chu_2014.pdf">Ver currículo</a><br/><br/>
							<p class="btn btn-warning">Curso impartido en Inglés</p>
						  </div>
						</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Agricultura de Precisión en la Ingeniería Agrícola</div>
				  <div class="panel-body">
					  <div class="media">
						  <div class="media-left">
							<a href="#">
							  <img class="media-object img-responsive" 
							  src="/static/img/molin.png" 
							  alt="Prof. Molin"
							  width="180px">
							</a>
						  </div>
						  <div class="media-body">
							<h3>José Paulo Molin, Universidade de São Paulo</h3>
							El Profesor Molin es Ph.D. en Ingeniería Agrícola de la Universidad de Nebraska (1996). Es profesor asociado de la Universidad de São Paulo, preside la comisión para la agricultura de precisión - CBAP, del Ministerio de Agricultura, Ganadería y Abastecimiento de Brasil. Actúa en la interfaz entre el área de maquinaria e implementos agrícolas y la agricultura de precisión, especialmente con sensores, variabilidad espacial, mapas de rendimiento, GNSS, aplicación localizada de insumos, siembra, fertilización y cosecha. <a 
							href="http://www.leb.esalq.usp.br/molin.html">Ver currículo</a><br/><br/>
							<p class="btn btn-warning">Curso impartido en Español</p>
						  </div>
						</div>
				  </div>
			  </div>
			  <div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Simulación de cuencas usando el modelo Agricultural Policy/Environmental eXtender (APEX)</div>
				  <div class="panel-body">
					  <div class="media">
						  
						  <div class="media-body">
						  	El curso enseñará a los participantes los conocimientos básicos sobre la estructura del modelo APEX, y enfatizará en el entrenamiento de los escenarios de configuración para evaluar los impactos de las diferentes prácticas de manejo de nutrientes, operaciones de labranza, prácticas de conservación, sistemas de cultivos alternativos y otras prácticas de manejo, escorrentía superficial y las pérdidas de sedimentos y nutrientes.
							<h3>John J. Ramírez-Avila</h3>
							John J. Ramírez-Avila es Ingeniero Agrícola con título de Master en Ciencias del Suelo y Doctorado en Ingeniería con énfasis en Ingeniería de Recursos Hídricos. Es Profesor Asistente de Investigación en el Departamento de Ingeniería Civil y Ambiental de la Universidad Estatal de Mississippi, realizando  investigación diseñada para probar, validar y mejorar las herramientas analíticas utilizadas para predecir la escorrentía, sedimentos y cargas de nutrientes de los campos y las cuencas hidrográficas. Ha investigado también en la determinación de las fuentes de sedimentos enfocandose en la erosión streambank y vigilancia del transporte de sedimentos y en el modelado al alcance de la escala de cuencas. <a 
							href="/static/John_J_Ramirez_Avila_CV.pdf">Ver currículo</a><br/><br/>
							<p class="btn btn-warning">Curso impartido en Español</p>
						  </div>
						</div>
				  </div>
			  </div>
			  <p>Espectrometría en la agricultura</p>
{% endblock %}
