{% extends "es/base_ES.html" %}
{% block main %}
			  <h2>Comité científico</h2>
			  <br/>
			<ul>
				<li>Alfonso Parra Coronado, Ph.D. (UNAL, Colombia)</li>
				<li>Carolina María Sánchez Sáenz, Ph.D. (UNAL, Colombia)</li>
				<li>Claudia Milena Amorocho Cruz, Ph. D. (USCO, Colombia)</li>
				<li>Esteban J. Baeza Romero., Ph.D. (IFAPA, España)</li>
				<li>Eugenia Gonzáles Castrillón, Ph. D. (UNAL, Colombia)</li>
				<li>Fernando Lozano Osorno, Ph.D. (UNAL, Colombia)</li>
				<li>Guido Fernando Botta, Ph.D. (UBA-UNLu, Argentina)</li>				
				<li>Iván Darío Aristizabal T., Ph.D. (UNAL, Colombia)</li>
				<li>Jaime Salazar Contreras, M.Sc. (ASIBEI, Colombia)</li>				
				<li>Javier Giovanni Álvarez H., Ph.D. (UPTC, Colombia)</li>
				<li>Joahnn H. Palacios R., M.Sc. (IRDA, Canadá)</li>
				<li>John Fabio Acuña C., Ph.D. (UNAL, Colombia)</li>
				<li>John J. Ramírez Avila, Ph.D. (MSSTATE, Estados Unidos de America)</li>
				<li>José Miguel Guzmán P., Ph.D. (UAL, España)</li>
				<li>José Paulo Molin, Ph.D. (ESALQ-USP, Brasil)</li>
				<li>Juan Luis Valenzuela M., Ph.D. (UAL, España)</li>
				<li>Leonardo Ramirez López, Ph.D. (BUCHI Labortechnik AG, Suiza)</li>
				<li>Marco Tulio Ospina Patiño, Ph.D. (UNICAMP, Brasil)</li>
				<li>Saúl Dussán Sarria, Ph.D. (UNAL, Colombia)</li>
				<li>Wilson Esquivel Flóres, Ph. D. (UDEC, Chile)</li>
			</ul>
{% endblock %}
