{% extends "es/base_ES.html" %}
{% block main %}
			  <h2>Submissions</h2>
			  <br/>
			  <p><b>Please check the abstract submission guidelines:</b></p>
			  <p><u>Step 1: select the subject area</u></p>
				<table class="table table-striped">
					<tr>
						<td><b>#</b></td>
						<td><b>Theme</b></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Agricultural and agro-industrial machinery</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Water and soil engineering</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Postharvest technology and agribusiness</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Rural infrastructure and management environments</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Control and automation in biosystems</td>
					</tr>
					<tr>
						<td>6</td>
						<td>Geoinformatics</td>
					</tr>
					<tr>
						<td>7</td>
						<td>Alternative energy in agriculture</td>
					</tr>
					<tr>
						<td>8</td>
						<td>Sustainable rural development</td>
					</tr>
					<tr>
						<td>9</td>
						<td>Education in agricultural and biosystems engineering</td>
					</tr>							
				</table>

				<p><u>Step 2: summary</u></p>
				<p>The summary must follow the <a href="/rules-abstracts">rules of abstracts submissions</a> and must be send through the <a href="/abstracts">application website</a> between October 20, 2015 and January 20, 2016. The Scientific Committee will evaluate the abstracts and no later than February 10, 2016 will be sent the answers to the authors in which specify whether their work has been accepted or not and whether to present it in form of short lecture or poster mode. Additionally will be sent acceptance letters to authors.</p>
				
				<p><u>Step 3: Extensive Jobs</u></p>
				<p>If your paper has been accepted must send a summary expanded following the <a href="/rules-full-papers">rules for submission of full papers</a> no later than February 29, 2016. All papers will be included in the conference proceedings.</p>

				<p><u>Notes:</u></p>
				<p>Only 2 papers will be received by the author.
				The payment for registration will be made by the <a href="/payment">following methods</a>.</p>
{% endblock %}
